<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>character/tile000</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-6}</string>
    <key>spriteSize</key>
    <string>{378,429}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{862,0},{378,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile001</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,0}</string>
    <key>spriteSize</key>
    <string>{260,442}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{1034,888},{260,442}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile002</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-6}</string>
    <key>spriteSize</key>
    <string>{300,455}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{444,888},{300,455}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile003</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-13}</string>
    <key>spriteSize</key>
    <string>{416,442}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{444,0},{416,442}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile004</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,-6}</string>
    <key>spriteSize</key>
    <string>{442,429}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{0,0},{442,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile005</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-13,-6}</string>
    <key>spriteSize</key>
    <string>{338,429}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{836,444},{338,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile006</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{286,442}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{746,888},{286,442}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile007</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-7,-6}</string>
    <key>spriteSize</key>
    <string>{326,455}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{0,862},{326,455}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile008</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{13,0}</string>
    <key>spriteSize</key>
    <string>{390,442}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{444,444},{390,442}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>character/tile009</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{442,429}</string>
    <key>spriteSourceSize</key>
    <string>{572,572}</string>
    <key>textureRect</key>
    <string>{{0,431},{442,429}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{1296,1345}</string>
   <key>textureFileName</key>
   <string>run.png</string>
  </dict>
 </dict>
</plist>
